<div class="card mb-5 pb-3 roundedCorners cardShadow bg-dark">
    <img src="/images/{{id}}.jpg" style="width: 865px; height: 600px" class="mx-2 mt-3 p-3 card-img-top" alt="{{name}}">
    <div class="card-body">
        <div class="text-center">
        <h2 class="card-title text-white fs-1 text-decoration-none">{{projectName}}</h2>
        </div>
        <div class="text-white bg-dark">
        <ul class="list-group list-group flush">
            <li class="list-group-item fs-2 py-4 bg-dark" style="text-align:center"><b>{{description}}</b></li>
            <li class="list-group-item fs-2 py-4 bg-dark" style="text-align:center">Check it out here! → <b><a href="{{github}}">Github Repo</a></b></li>
        </ul>
        </div>
    </div>
</div>